<section class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-4 login-sec">
        <h2 class="text-center">FASTLANE </h2>
        <form class="login-form">
          <div class="form-group">
            <label class="text-uppercase">Full Name *</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label class="text-uppercase">Email *</label>
            <input type="text" class="form-control">
          </div>
          <button  type="submit" class="btn btn-login float-right">Submit</button>
        </form>
      </div>

      <!-- BANNER SECTION -->
      <div class="col-md-8 banner-sec">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <div class="carousel-caption d-none d-md-block">
                <!-- <div class="banner-text">
									<h2>This is Heaven</h2>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
										labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
								</div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





<!-- <input type="file" (change)="onFileChange($event)" multiple="false" />
<br>
<br>
<button (click)="calculateLog()">Calculate</button>

<br>
<br>
  Standard Devaiation = {{standardDev}}
<br>
  Historic Volatilty = {{hv}}
<br>
<br>
<div *ngIf="showCMP">
  Enter CMP
  <input type="number" [(ngModel)]="cmp" />
Enter IV
  <input type="number" [(ngModel)]="iv" />

  <br>

  <br>
  <button (click)="calculateMovement()">Calculate Movement</button>
  <br>

  <br>
AS PER HV IT CAN MOVE = {{newHV}}
  <br>
AS PER IV IT CAN MOVE = {{newIV}}
</div> -->

<!-- Table View -->
<!-- <table class="sjs-table">
  <tbody>
    <tr *ngFor="let row of data">
      <td *ngFor="let val of row">
        {{val}}
      </td>
    </tr>
  </tbody>
</table>
<button (click)="export()">Export!</button> -->